@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom */
html,body,#__next { height: 100%; }
body {
  @apply bg-white text-gray-800 antialiased;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
a { @apply underline decoration-primary/70; }
html {
  scrollbar-gutter: stable;
}
.container-base {
  @apply mx-auto max-w-6xl px-4 sm:px-6 lg:px-8;
}




